<%= form_with(model: [ @movie, @booking ], local: true, url: movie_bookings_path(movie)) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, 'error') %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.date_select :date %></br>
  <%= form.time_select :date %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.submit 'Book Now' %>
<% end %>
